h1{
    text-align: center;
    color:gray;
}
body {
    background-color:rgb(10, 10, 10);
}

.calculator{
    background-color: white;
    width:400px;
    padding: 20px;
    margin:auto;
    border-radius: 25px;
}

label{
    display: inline-block;
    width: 100px;
    text-align: left;
}
#amount{
    text-align: center;
}


.highlight1{
    background-color: yellow;
}
.highlight2{
    background-color: yellow;
}
.highlight3{
    background-color: yellow;
}
.highlight4{
    background-color: yellow;
}