h1{
    text-align: center;
    color:gray;
    font-family: Verdana;
}
body {
    background-color:rgb(10, 10, 10);
    font-family: Arial;
}

.calculator{
    background-color: white;
    width:500px;
    padding: 20px;
    margin:auto;
    border-radius: 25px;
}

label{
    display: inline-block;
    width: 100px;
    text-align: left;
    padding-left: 20%;
}
#amount{
    text-align: center;
}

.button{
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.div1{
    width: 200px;
    text-align: left;
    padding-left: 20%;
}
.highlight1{
    background-color: yellow;
}
.highlight2{
    background-color: yellow;
}
.highlight3{
    background-color: yellow;
}
.highlight4{
    background-color: yellow;
}